@model Service


<div class="col-md-3 col-sm-6 col-xs-6" style="text-align:center;align-content:center; color:black;">
    </br>
    <a class="btn-group-justified" style="color:#79553D;" href="/Store/ServiceAbout?@Model.Id" </a>
    <img class="img-thumbnail" src="@Model.Img" alt="@Model.Name" width="120" height="120" style="border-radius:100%;" />

    <p><strong> @Model.Desc</strong></p>
</div>









